<!DOCTYPE html>
<html>
  <head>
    <title>病歷資料</title>
    <link rel="shortcut icon" href="#"/>
    <!CSS href 記得要載入>
    <link rel="stylesheet" href="style" type="text/css" />
  </head>

  <body>
      <p>
        TEST 病歷資料
        </p>
  </body>
</html>