body{
  background-image:-webkit-linear-gradient(top, rgba(245, 106, 106, 0.61),  rgba(255, 255, 255, 0)),
                    url("image/index-comp.jpg");
                    
  background-color: #ffffff;
  height:900px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tit{
  position:relative;
  width: 100%;
  font-size: 50px;
  text-align: center;
  color: black;
}

.cardbutton{
  position:relative;
  width:80%;
  height: auto;
  margin: 8%;
}


img{
  display: block;
  width:100%;
  border-radius:20px;
  box-shadow: 0 0 10px rgba(0,0,0,1.00);
}

.info{
  /* display: none; */
  opacity: 0;
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(0,0,0,.3);
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top:40px;
  border-radius:20px;
}

input{
  font-size: 20px;
  border-radius:30px;
}

.info p{
  color: #fff;
  font-size: 30px;
}

.info:hover{
  -webkit-transitions: 300ms;
  opacity: 1;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}